.git
.github
.idea
.env
.env.*
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
test-results.json
__tests__
tests
src/**/_test

uploads
mosquitto_data
mosquitto_config

README.md
